a {
	color: #000000;
}
a:visited {
	color: #000000;
}
.auto-style17 {
	text-align: center;
}
.auto-style18 {
	border-width: 0px;
}

.auto-style19 {
	text-align: center;
	font-size: x-large;
}
.auto-style21 {
	font-size: large;
	font-weight: bold;
}
.auto-style23 {
	text-align: left;
}
.auto-style24 {
	font-size: large;
}
.auto-style25 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	border-width: 0px;
}
.auto-style26 {
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style27 {
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style28 {
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
}
